@import "tailwindcss";
@import '@fortawesome/fontawesome-free/css/all.min.css';
/* 
* {
  box-sizing: border-box;
} */

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; /* or any other font you are using */
}

@font-face {
  font-family: 'Kinetika Bold';
  src: url('./fonts/Kinetika-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Kinetika Book';
  src: url('./fonts/Kinetika-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.filter-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.5);
  border-radius: 20px;
}

/* Hide number input spinner buttons */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.no-spinner {
  -moz-appearance: textfield;
}